<div class="container">
  <h1> Restaurants </h1>
  <ul>
    <% @restaurants.each do |restaurant| %>
    <li> <%= link_to restaurant.name, restaurant_path(restaurant) %> <%= restaurant.address %></li>
    <% end %>
  </ul>

  <%= link_to 'Add your favorite restaurant', new_restaurant_path, class: 'btn btn-success'%>
</div>
